@import 'mixins/reset';
@import 'mixins/mixin';
@import 'mixins/utilities';
#app
{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 100%;

    color: #646464;
    background-color: #f5f5f5;
}

.page-container
{
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    padding-left: 230px;

    background-color: #2c343f;
    .sidebar
    {
        position: fixed;
        z-index: 1032;
        top: 0;
        left: 0;

        overflow-y: auto;

        width: 230px;

        transition: all .28s ease-out;
    }

    .header-navbar
    {
        position: fixed;
        z-index: 1030;
        top: 0;
        left: 230px;

        width: 100%;
        height: 60px;
        padding: 13px 30px;

        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,.02);
    }
    .main-container
    {
        overflow-x: hidden;

        padding: 80px 20px 20px;

        background-color: #f5f5f5;
         > .content
        {
            background-color: #fff;
            box-shadow: 0 2px 4px 0 #ddd;
            padding: 20px;
            min-height: 500px;
        }
    }
    .page-footer
    {
        line-height: 40px;

        overflow-x: hidden;

        height: 40px;
        margin: 0 auto;

        background-color: #fff;
    }
}
